  /* MyInformation */

  .MyInformation{
    margin: 50px 0;
    padding: 35px 0;
    font-family: 'Times New Roman', Times, serif;
}
.MyInformation-items{
    display: grid;
    grid-template-columns: 30% 70%;
    justify-items: center;
}
.MyInformation-items .item:first-child{
    padding-left: 10px;
    margin-left: 40px;
}
.MyInformation-items .item:first-child h1{
    font-size: 140px;
}
.MyInformation-items .item:first-child p{
    padding: 30px 160px 30px 0;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.5;
    font-size: 25px;
}
.MyInformation-items .item:last-child{
    padding-top: 10px;
}
.MyInformation-items .item:last-child .info{
   font-size: 40px;
   margin-bottom: 60px;
}
.MyInformation-items .item:last-child .row{
    display: flex;
}
.MyInformation-items .item:last-child .row .row-item{
    flex: 1;
    background-color: #ebf4f5;
    margin-right: 10px;
    padding: 60px 0 55px 30px;
    border-radius: 5px;
}
.MyInformation-items .item:last-child .row .row-item:first-child{
    background-color: var(--low-bl_color);
}
.row .row-item .icon{
    background-color: var(--main_color);
    border-radius: 50%;
    width: 80px;
    display: block;
    height: 80px;
    text-align: center;
    margin-bottom: 15px;
}
.row .row-item .icon i{
    font-size: 40px;
    line-height: 80px;
    color: var(--white_color);
}
.row .row-item .title{
    text-transform: capitalize;
    margin-bottom: 10px;
}
.row .row-item:first-child .title a{
    color: var(--white_color);
}
.row .row-item .desc{
    text-transform: capitalize;
    color: var(--white_color);
}
.row .row-item .desc i{
    line-height: 30px;
    width: 100px;
}
.row .row-item:nth-last-child(1) .desc, 
.row .row-item:nth-last-child(2) .desc{
    opacity: 0;
    transition: opacity .5s;
}
.MyInformation-items .item:last-child .row .row-item:hover{
    background-color: var(--low-bl_color);
    transition: background-color .5s;
}
.MyInformation-items .item:last-child .row .row-item:hover .desc
{
    opacity: 1;
}
.MyInformation-items .item:last-child .row .row-item:hover .title{
    color: var(--white_color);
    transition: color .5s;
}
@media screen and (max-width:900px) {
    
    .MyInformation-items{
        display: block;
        grid-template-columns: 30% 70%;
        justify-items: center;
    }
    .MyInformation-items .item:last-child .row{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(3,1fr);
        grid-row-gap: 20px;
    }
    .MyInformation-items .item:last-child .row .row-item{
        width: 100%;
    }
    .MyInformation-items .item:first-child h1{
        font-size: 100px;
    }
    .MyInformation-items .item:first-child p{
        font-size: 20px;
        padding: 0;
    }
    .MyInformation-items .item:last-child .info{
        font-size: 30px;
     }
     .MyInformation-items .item:first-child{
         padding: 0;
         margin: 0;
     }
}